# General
*.DS_Store
*.swp
*.swo

# Dotnet
[Bb]in/
[Oo]bj/
*.user
*.rsuser
*.suo
*.cache
*.log
TestResults/

# Node
node_modules/
dist/
build/
.cache/
.env*

# IDEs
.vscode/
.idea/

# Docker
*.pid

# Misc
coverage/
