version: '3.9'

services:
  app:
    build: .
    ports:
      - "8080:8080"
    environment:
      POSTGRES_CONNECTION: Host=db;Port=5432;Database=strimdb;Username=strim;Password=strim
    depends_on:
      - db

  db:
    image: postgres:16
    restart: unless-stopped
    environment:
      POSTGRES_DB: strimdb
      POSTGRES_USER: strim
      POSTGRES_PASSWORD: strim
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
